boto3==1.17.98
google-api-python-client==2.13.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
numpy==1.21.0
pandas==1.2.5
requests==2.25.1
facebook-business==11.0.0
pyjwt==1.5.3
aiohttp==3.7.4
